$black: #2B2A29;
$blue: #005DB4;
$orange: #FE5603;


@import 'plugins/swiper-bundle';
@import '@fancyapps/ui/src/Fancybox/fancybox.scss';

@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/ui';


@import 'includes/header';
@import 'includes/footer';
@import 'components/breadcrumbs';

@import 'pages/index';
@import 'pages/category';
@import 'pages/catalog';
@import 'pages/news';
@import 'pages/sales';
@import 'pages/product';
@import 'pages/contacts';

